version: "3.8"
services:
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_pass

  backend:
    build: ./backend      # use build to test local Dockerfile
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongo:27017/mydb
      PORT: 3000
    depends_on:
      - mongo

  frontend:
    build: ./frontend    # serve built angular files via nginx image created
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mongo-data:
